<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" class="internal-page page-component-colors">
          <ion-list-header class="list-header">Movies</ion-list-header>
          <ion-note class="page-component-colors">Welcome {{user!.username}}</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" detail="false" (click)="logout()" class="page-component-colors" lines="full">
              <ion-icon aria-hidden="true" slot="start" ios="log-out-outline" md="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
