<ion-content [fullscreen]="true" class="page">
  <div class="internal-page flex-center-center">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <div class="fields-container flex-center-center">
      <form (ngSubmit)="register(fReg)" #fReg="ngForm">
        <ion-input
        label="Email"
        label-placement="floating"
        fill="outline"
        placeholder="Enter email"
        name="email"
        type="text"
        [(ngModel)]="registerUser.email"
        required></ion-input>

        <ion-input
          label="Username"
          label-placement="floating"
          fill="outline"
          placeholder="Enter username"
          name="username"
          type="text"
          [(ngModel)]="registerUser.username"
          required></ion-input>

        <ion-input 
          label="Password"
          label-placement="floating"
          fill="outline"
          placeholder="Enter password"
          name="password"
          type="password"
          [(ngModel)]="registerUser.password"></ion-input>
          
        <ion-button shape="round" type="submit" expand="block">Create account</ion-button>  
      </form>
    </div>
  </div>

</ion-content>


